.form-box {
  color: $blackColor;
  @extend .font-playball;
}

.form-box__title {
  font-size: 85px;
  font-weight: 100;
  text-shadow: 1px 3px 0 $blackColor;
}

.form-box__label {
  font-size: 22px;
}

.form-box__input,
.form-box__button {
  border-color: $goldColor;
}

.form-box__button {
  font-size: 16px;
  font-weight: bold;
  float: right;
  padding: 7px 45px;
}

.form-box__input {
  background: rgba(25, 24, 22, 0.8);
  color: $whiteColor;
}
