.form-box {
  color: $blackColor;
}

.form-box__title {
  font-size: 85px;
  font-weight: 100;
  text-shadow: 1px 3px 0 $blackColor;
}

.form-box__label {
  @extend .font-playball;
  font-size: 22px;
}

.form-box__input,
.form-box__button {
  border-color: $goldColor;
}

.form-box__button {
  @extend .font-playball;
  font-size: 18px;
  font-weight: bold;
}

.form-control {
  &.form-box__input {
    background: rgba(25, 24, 22, 0.8);
    color: $whiteColor;
  }
}

.none-resize {
  resize: none;
}
